/* -- Reset Global Styles --- */
*,
*::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

/* --- Style Variables --- */
:root {
  --margin-bottom: 0.625rem;
  --label-padding-right: 1.25rem;
  --label-width: 12.5rem;
  --widget-width: 15.625rem;
  --border-radius: 4px;
  --main-padding: 1.875rem;
  --input-text-size: 0.875rem;
  --color-main: #5d6063;
  --color-red: rgb(212, 53, 56);
  --color-light-gray: rgb(186, 189, 190);
}

/* --- Styles --- */

body {
  color: var(--color-main);
  background-color: rgb(182, 219, 255);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-header {
  text-align: center;
  background-color: rgb(230, 230, 230);
  border: 0.0625rem solid var(--color-light-gray);
  border-radius: var(--border-radius);
  box-shadow: 0px 0.0625rem 0.125rem rgba(0, 0, 0, 0.5);
  margin: 1.5625rem 0;
  padding: var(--main-padding);
}
/* --- Form Styling --- */

.profile-form {
  background-color: rgb(241, 238, 238);
  border: 0.0625rem solid rgb(186, 189, 190);
  border-radius: var(--border-radius);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  padding: var(--main-padding);
}

/* --- Input Text Styles --- */

.form-row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.form-row input[type="text"],
.form-row input[type="email"] {
  border-radius: var(--border-radius);
  color: var(--color-main);
  font-size: var(--input-text-size);
  background-color: rgb(255, 255, 255);
  border: 0.0625rem solid var(--color-light-gray);
  padding: 0.4375rem;
  width: var(--widget-width);
}

.form-row input[type="email"]:invalid {
  outline: none;
  border: 0.09375rem solid var(--color-red);
  color: var(--color-red);
  box-shadow: none;
}

.form-row label {
  margin-bottom: 1.25rem;
  padding-right: var(--label-padding-right);
  text-align: right;
  margin-top: 0.3125rem;
  width: var(--label-width);
}

.profile-header,
.profile-form {
  width: 37.5rem;
}

/* --- Radio Button Styles --- */

.radio-form-row {
  border: none;
  margin-bottom: var(--margin-bottom);
}

.radio-form-row .radio-label {
  font-size: var(--input-text-size);
  padding: 0.125rem 1.25rem 0 0.25rem;
}

.radio-form-row legend {
  width: var(--label-width);
  padding-right: var(--label-padding-right);
  text-align: right;
  float: left;
}
/* --- Dropdown Menu Styles --- */

.form-row select {
  padding: 0.3125rem;
  font-size: 0.875rem;
  width: var(--widget-width);
}

/* ---  Textarea Styles --- */

.form-row textarea {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 0.875rem;
  border: 1px solid #d6d9dc;
  border-radius: var(--border-radius);
  min-height: 6.25rem;
  margin-bottom: var(--margin-bottom);
  padding: 0.625rem;
  width: var(--widget-width);
}

.form-row .description {
  color: #999999;
  font-size: 0.875rem;
  margin-bottom: var(--margin-bottom);
  margin-left: var(--label-width);
  width: var(--widget-width);
}

.form-row .checkbox-label {
  margin-left: var(--label-width);
  width: auto;
}

.form-row button {
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  background-color: rgb(231, 2, 2);
  border: none;
  border-radius: var(--border-radius);
  padding: 0.625rem 2.5rem;
  cursor: pointer;
  margin-left: var(--label-width);
}

.form-row button:hover {
  background-color: rgb(255, 30, 30);
}
